.bg-primary {
  background-color: rgb(0, 60, 99) !important;
}

.bg-secondary, #groups .card {
  background-color: rgb(0, 43, 64) !important;
}

.title-color, h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 60, 99) !important;
}

.text-color, p {
  color: #000;
}

.text-primary {
  color: rgb(0, 60, 99) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham" !important;
  font-weight: bold;
  letter-spacing: 0.025rem;
}

h2 {
  border-left: rgb(0, 60, 99) 4.5px solid;
  margin: 0 !important;
  padding-left: 0.75rem;
  line-height: 1 !important;
}

p {
  font-weight: normal;
  letter-spacing: 0.025rem;
}

a,
input,
label {
  font-family: "Gotham" !important;
  text-decoration: none;
  letter-spacing: 0.025rem;
}

header .logo {
  max-width: 140px;
}
header .navbar-toggler span {
  color: rgb(0, 43, 64);
}
header .navbar-nav {
  width: 100%;
  justify-content: space-between;
}
header .navbar .nav-link {
  color: #fff;
  padding: 2.875rem 0 !important;
  font-weight: bold !important;
  font-size: 13px !important;
}
header .navbar .dropdown .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.875rem 0 !important;
  transition: 0.3s ease-in;
  cursor: default !important;
}
header .nav-item:hover .nav-link {
  opacity: 0.6 !important;
  transition: 0.3s ease-in;
}
header .nav-link span {
  margin-left: 0.5rem;
}
header .dropdown-toggle::after {
  display: none !important;
}
header .nav-item:hover .dropdown-menu {
  display: block !important;
}
header .dropdown-menu {
  min-width: 15rem !important;
  padding-left: 2.5rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.5rem !important;
  border-radius: 0px 0px 30px 30px !important;
  border: none !important;
}
header .dropdown-menu li {
  list-style: disc !important;
}
header .dropdown-menu .dropdown-item {
  padding-left: 0.5rem !important;
}
header .dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
}

.social-icons {
  justify-content: end;
  align-items: center;
}
.social-icons img {
  transition: 0.3s ease-in-out;
}
.social-icons img:hover {
  transform: translateY(-0.25rem) scale(1.2);
  transition: 0.3s ease-in-out;
}

footer .logo {
  max-width: 140px !important;
}
footer .link-to-top {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0.5rem !important;
  padding-right: 0.15rem !important;
  font-size: 11px !important;
  border: transparent 1px solid;
  font-weight: bold;
  border-radius: 0.65rem;
  max-height: 1.875rem;
  transition: 0.3s ease-in;
}
footer .link-to-top span {
  background-color: rgb(0, 60, 99);
  border-radius: 0.5rem;
}
footer .link-to-top:hover {
  color: #fff;
  background-color: rgb(0, 60, 99);
  border: rgba(255, 255, 255, 0.2) 1px solid;
  transition: 0.3s ease-in;
}
footer .link-to-top:hover span {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s ease-in;
}
footer .nav-link {
  font-size: 0.75rem !important;
  color: #fff !important;
  transition: 0.3s ease-in;
}
footer .nav-link:hover {
  color: rgba(255, 255, 255, 0.6) !important;
  transition: 0.3s ease-in;
}
footer .border-white {
  border-color: rgba(255, 255, 255, 0.25) !important;
}

/* HOME */
#banner {
  overflow: hidden;
}
#banner img {
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#banner .carousel-indicators {
  bottom: 2rem !important;
}
#banner .carousel-indicators [data-bs-target] {
  width: 15px !important;
  height: 15px !important;
  border-radius: 10rem !important;
  border: #fff 1px solid !important;
  opacity: 1 !important;
}
#banner .carousel-indicators .active {
  background-color: transparent !important;
}
#banner .elipse {
  position: absolute;
  top: -10rem;
  right: -25rem;
  min-width: 1100px;
  height: 992px;
  background-color: rgb(0, 60, 99);
  border-radius: 50rem;
  transition: 0.3s ease-in;
}
#banner .slide1 .carousel-caption,
#banner .slide3 .carousel-caption {
  top: 22.5% !important;
  left: 11.5% !important;
}
#banner .slide2 .carousel-caption {
  top: 27.5% !important;
  left: auto !important;
  right: 10% !important;
}
#banner .slide3 .elipse {
  left: -25rem;
  right: auto !important;
  transition: 0.3s ease-in;
}
#banner .carousel-caption h1 {
  margin-bottom: 3rem !important;
}
@media screen and (min-width: 993px) {
  #banner .carousel-caption {
    max-width: 30% !important;
  }
}

#services .card {
  border: none;
  border-radius: 25px !important;
  width: 100% !important;
}
#services .card-img {
  height: 350px !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  border-radius: 25px !important;
}
#services .card-title {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 2.5rem !important;
  transition: 0.3s ease-in;
}
#services .card-text {
  display: none;
  color: #fff;
  font-weight: 500 !important;
  transition: 0.3s ease-in;
}
#services .card-img-overlay {
  display: flex;
  align-items: end;
  padding-left: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  transition: 0.3s ease-in;
}
#services .card-img-overlay:hover .card-text {
  display: block;
  transition: 0.3s ease-in;
}
#services .card-img-overlay:hover .card-title {
  display: none;
  transition: 0.3s ease-in;
}
#services .card1 .card-img-overlay {
  background: linear-gradient(0deg, #FBBD51 -35%, rgba(0, 43, 64, 0.15) 72.02%);
  border-radius: 25px;
}
#services .card1:hover .card-img-overlay {
  background: #FBBD51;
}
#services .card2 .card-img-overlay {
  background: linear-gradient(0deg, #EF7A91 -35%, rgba(0, 43, 64, 0.15) 72.02%);
  border-radius: 25px;
}
#services .card2:hover .card-img-overlay {
  background: #EF7A91;
}
#services .card3 .card-img-overlay {
  background: linear-gradient(0deg, #BC7CAE -35%, rgba(0, 43, 64, 0.15) 72.02%);
  border-radius: 25px;
}
#services .card3:hover .card-img-overlay {
  background: #BC7CAE;
}

#articles .container-fluid {
  max-width: 1550px !important;
}
#articles .card {
  height: 400px !important;
  border-radius: 25px !important;
  border: none !important;
}
#articles .card-img {
  height: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  border-radius: 25px !important;
}
#articles .card-img-overlay {
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
  padding: 1.5rem !important;
  background: linear-gradient(0deg, rgb(0, 60, 99) -15.55%, rgba(0, 60, 99, 0.15) 117.98%);
  border-radius: 25px;
  transition: 0.3s ease-in;
}
#articles .card-img-overlay:hover {
  background: rgb(0, 60, 99);
  transition: 0.3s ease-in;
}
#articles .card-title {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1.188rem !important;
}
#articles time {
  font-weight: 500;
  margin-bottom: 1.5rem;
}
#articles .splide__slide {
  margin-right: 3rem;
}
#articles .splide__arrow {
  opacity: 1;
  width: 3em;
  height: 3em;
}
#articles .splide__arrow svg {
  visibility: hidden;
}
#articles .splide__arrow--prev {
  background: url(../icons/left.svg) no-repeat;
  background-size: cover;
  left: -4em;
}
#articles .splide__arrow--next {
  background: url(../icons/right.svg) no-repeat;
  background-size: cover;
}
#articles .splide__pagination {
  display: none;
}
@media screen and (max-width: 992px) {
  #articles time {
    margin-bottom: 0.5rem !important;
  }
  #articles .splide__arrow--prev {
    left: 1em !important;
  }
}

#newsletter a {
  font-weight: 500 !important;
  color: #FF7575;
}
#newsletter label {
  letter-spacing: 0.015rem !important;
}

/* ABOUT US, GOVERNANCE, REPORTS */
#banner-about-us, #banner-governance, #banner-reports {
  position: relative;
  background-size: cover !important;
}
#banner-about-us .mask, #banner-governance .mask, #banner-reports .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #003C63 -26.6%, rgba(0, 43, 64, 0.15) 111.49%);
}
#banner-about-us .content, #banner-governance .content, #banner-reports .content {
  position: relative;
  z-index: 11;
}
#banner-about-us h1,
#banner-about-us p, #banner-governance h1,
#banner-governance p, #banner-reports h1,
#banner-reports p {
  color: #fff !important;
}

#team h6 {
  font-weight: normal !important;
}

#about-us .card {
  margin-top: 2rem;
  background-color: rgb(0, 60, 99);
  padding: 2rem 1rem;
  border-radius: 15px !important;
}
#about-us .card h6, #about-us .card p {
  color: #fff !important;
}
#about-us .card h6 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
#about-us .card p {
  margin-bottom: 0 !important;
  font-weight: normal;
}
#about-us h5 {
  margin-top: -3rem;
  margin-bottom: 1.75rem;
}
#about-us .timeline-steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about-us .timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  #about-us .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.15rem solid rgb(0, 60, 99);
    width: 15rem;
    position: absolute;
    left: 6rem;
    z-index: 9;
    top: 0.3125rem;
  }
  #about-us .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.15rem solid rgb(0, 60, 99);
    width: 15rem;
    position: absolute;
    right: 6rem;
    z-index: 9;
    top: 0.3125rem;
  }
}
@media (max-width: 767px) {
  #about-us .timeline-steps .timeline-step {
    margin-top: 6rem !important;
  }
}
#about-us .timeline-steps .timeline-content {
  width: 100%;
  z-index: 10;
  text-align: center;
}
#about-us .timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
#about-us .timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #fff;
  border: rgb(0, 60, 99) 4px solid;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 6.25rem;
}

#groups .card {
  padding: 3rem;
  border-radius: 27px;
  border: none !important;
  height: 100%;
}
#groups .card h5, #groups .card p {
  color: #fff !important;
}
#groups .card p {
  font-weight: 300 !important;
  margin-top: 2rem;
}

#statute p {
  margin-bottom: 0.25rem !important;
}
#statute .line {
  min-width: 540px;
  max-width: 100%;
  height: 1px;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgb(0, 43, 64);
}
#statute .btn-outline-primary {
  padding: 0.5rem 1rem !important;
  color: rgb(0, 43, 64) !important;
  border: rgb(0, 43, 64) 2px solid !important;
  font-size: 0.875rem !important;
}
#statute .btn-outline-primary:hover {
  background-color: rgb(0, 43, 64) !important;
  color: #fff !important;
}

#reports img {
  border-radius: 10px;
  max-width: 75%;
  margin-bottom: 0.5rem;
}
#reports h6 {
  font-size: 0.875rem !important;
  margin-bottom: 2rem;
}
#reports .border-bottom {
  border-width: 3px !important;
}
#reports .border-secondary {
  border-color: rgba(20, 20, 20, 0.4) !important;
}
#reports .btn-outline-primary {
  padding: 0.5rem 1rem !important;
  color: rgb(0, 43, 64) !important;
  border: rgb(0, 43, 64) 2px solid !important;
  font-size: 0.75rem !important;
}
#reports .btn-outline-primary:hover {
  background-color: rgb(0, 43, 64) !important;
  color: #fff !important;
}/*# sourceMappingURL=style.css.map */